* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    position: sticky;
    top: 0;
    background: white;
    padding: 2em 0;
    border-bottom: 1px solid #efefef;
    margin-bottom: 2em;
}

.container {
    max-width: 75em;
    margin: 0 auto;
    padding: 0 1.25em;
}

#drinks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    row-gap: 1em;
    column-gap: 1em;
    list-style-type: none;
}

.drink-list-item {
    border: 1px solid #efefef;
    border-radius: 1em;
    overflow: hidden;
    cursor: pointer;
}

.drink-list-item:hover {
    background-color: #efefef;
    border: 1px solid #bebebe;
}

.drink-list-item_thumb-img {
    width: 100%;
    max-width: 100%;
    display: block;
}
.drink-list-item_title {
    padding: 1em;
}